body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    margin-bottom: 7px;
    
}

#message {
    width: 400px;
    height: 30px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
}

#selectText {
    margin-top: 7px;
    width: 140px;
    
}

.contain {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    margin-bottom: 30px;
}

