body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    margin-bottom: 7px;
    
}

#selectText {
    margin-top: 7px;
    width: 140px;
    
}

.contain {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.footer {
    margin-top: 20px;
}